{% extends 'padrao.html' %}

{% block conteudo %}
<fieldset>
    <legend>Digite as informações da musica</legend>
    <form method="post" action="/addMusica" enctype="multipart/form-data">
        <fieldset>

            {{ form.csrf_token() }}

            <div class="mb-2">
                <label for="arquivo">Foto de capa:</label>
                <input type="file" class="form-control" name="arquivo" accept=".jpg, .jpeg, .png">
            </div>
            <div class="mb-2">
                {{ form.nome.label(class = 'form-label') }}
                {{ form.nome(class = 'form-control') }}
            </div>
            <div class="mb-2">
                {{ form.grupo.label(class = 'form-label') }}
                {{ form.grupo(class = 'form-control') }}
            </div>
            <div class="mb-2">
                {{ form.genero.label(class = 'form-label') }}
                {{ form.genero(class = 'form-control') }}
            </div>
            <div class="mb-2">
                {{ form.cadastrar(class = 'btn btn-primary') }}
            </div>
        </fieldset>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes style="list-style-type: none; padding-left: 0px;">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</fieldset>
{% endblock %}
