{% extends 'padrao.html' %}

{% block conteudo %}
<fieldset>
    <legend>Digite as informações da musica</legend>
    <form method="post" action="/addMusica">

        <div class="mb-2">
            <label for="txtNomeMusica">Nome da Música:</label>
            <input type="text" name="txtNomeMusica" id="txtNomeMusica" class="form-control">
        </div>
        <div class="mb-2">
            <label for="txtBanda">Banda:</label>
            <input type="text" name="txtBanda" id="txtBanda" class="form-control">
        </div>
        <div class="mb-2">
            <label for="txtGenero">Genero:</label>
            <input type="text" name="txtGenero" id="txtGenero" class="form-control">
        </div>

        <div class="mb-2"><button type="submit" class="btn btn-primary">Cadastrar Musica</button></div>
    </form>
</fieldset>
{% endblock %}
