{% extends "padrao.html" %}

{% block conteudo %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Musicas</th>
            <th>Banda</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        {% for musica in musicas %}
        <tr>
            <td>{{ musica.nome_musica }}</td>
            <td>{{ musica.cantor_banda }}</td>
            <td>{{ musica.genero_musica }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}