<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid position-absolute" style = "top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 700px;"">
        <div class="row gx-5 m-auto">
            <div class="col">
             <h1 class="text-center">Seja bem-vindo</h1>
            </div>
        </div>
        <div class="row gx-5 m-auto">
            <div class="col">
                <div class="card m-2">
                    <form method="post" action="/autenticar" class="m-2">
                        <fieldset>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Aqui o seu login" name="txtLogin">
                                <label for="floatingInput">Login</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" name="txtSenha">
                                <label for="floatingInput">Senha</label>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <ul class=flashes style="list-style-type: none; padding-left: 0px;">
                                        {% for category, message in messages %}
                                            <li class="{{ category }}">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                            <div class="mb-2"><button type="submit" class="btn btn-primary">Logar</button></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>