{% extends "padraoLoginCadastro.html" %}

{% block conteudo %}
<div class="row gx-5 m-auto">
    <div class="col">
        <h1 class="text-center">Seja bem-vindo</h1>
    </div>
</div>
<div class="row gx-5 m-auto">
    <div class="col">
        <div class="card m-2">
            <form method="post" action="/autenticar" class="m-2">
                {{ form.csrf_token() }}
                <fieldset>
                    <div class="form-floating mb-2">
                        {{ form.usuario(class = 'form-control', id = 'floatingInput', placeholder = 'Aqui o seu login') }}
                        {{ form.usuario.label(for = 'floatingInput') }}
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.senha(class = 'form-control', id = 'floatingPassword', placeholder = 'Senha') }}
                        {{ form.senha.label(for = 'floatingInput') }}
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes style="list-style-type: none; padding-left: 0px;">
                                {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <div class="mb-2">
                        {{ form.logar(class = 'btn btn-primary') }}
                        <a href="{{url_for('cadastrarUsuario')}}" class="btn btn-primary">É um novo usuário?</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}